name: CI

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Start SurrealDB
        uses: surrealdb/setup-surreal@v2
      - uses: actions/setup-node@v4
        with:
          node-version: '25'
          cache: 'npm'
      - run: npm ci
      - run: npm run lint && npm exec tsc && npm run build
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps chromium
      - run: npm test
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-results
          path: test-results/
          retention-days: 30
